<aside class="logo">


  <a href="/about">
    <img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
  </a>
<span class="logo-prompt">{{ prompt }}</span>

</aside>
<div class="container">
  <div class="footer-social-links">
    <a href="/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
    <a href="https://github.com/andrsd" title="GitHub" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="https://gist.github.com/andrsd" title="GitHub Gist" target="_blank"><i class="fa fa-code"></i></a>
    <a href="https://www.flickr.com/photos/101945058@N06" title="flickr" target="_blank"><i class="fa fa-flickr"></i></a>
  </div>
</div>
